@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Edit this Treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Price)
  @Html.EditorFor(model => model.Price)

  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-primary"/>
}
