@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Edit this Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" class="btn btn-primary"/>
}